    <h2 class="text-center">URL Shortener Microservice</h2>
    <main class="row h-100 text-center">
      <section class="col-sm-12">
        <form action="api/shorturl" method="POST">
          <fieldset>
            <input id="url_input" type="text" name="longUrl" placeholder="Enter URL" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>By <a href="">teslim191</a></p>
    </footer>



