    <h2 class="text-center pt-5">URL Shortener Microservice</h2>
    <main class="row h-100 d-flex align-items-center justify-content-center">
      <section class="col-md-6 text-center">
        <form action="api/shorturl" method="POST">
          <fieldset>
            <input id="url_input" type="text" name="longUrl" placeholder="Enter URL" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
    </main>



